name: Log Timestamp

on: [push]

jobs:
  log-time:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Log current time
      run: echo "Last run: $(date)" >> last_run.txt

    - name: Commit changes
      run: |
        set -x
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add last_run.txt
        if git diff --cached --quiet; then
          echo "No changes to commit"
        else
          git commit -m "Updated last run time"
          git push
        fi
